:root {
    --primary-color: #3498db;      /* Main primary color */
    --secondary-color: #2ecc71;    /* Secondary color */
    --accent-color: #e74c3c;       /* Accent color */
    --background-color: #ecf0f1;   /* Background color */
    --text-color: #2c3e50;         /* Main text color */
    --link-color: #2980b9;         /* Link color */
  
    /* Add more color variables as needed */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-link {
    border-radius: 4px;
    margin: 4px;
    padding: 8px;
    background-color: var(--link-color);
    color: black;
    text-decoration: none;
}



.device-log {
    padding: 8px;
    margin: 4px;
    background-color: lightgray;
    border-radius: 4px;

}
.device-log-metainfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.device-log-metainfo > * {
    margin: 0px;
    padding: 0px;
}
.device-log-creation-datetime {
    margin-left: auto;
}