:root {
    --primary-color: #3498db;      /* Main primary color */
    --secondary-color: #2ecc71;    /* Secondary color */
    --accent-color: #e74c3c;       /* Accent color */
    --background-color: #ecf0f1;   /* Background color */
    --text-color: #2c3e50;         /* Main text color */
    --link-color: #2980b9;         /* Link color */
  
    /* Add more color variables as needed */
}

.hidden {
    display: none;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-link {
    border-radius: 4px;
    margin: 4px;
    padding: 8px;
    background-color: var(--link-color);
    color: black;
    text-decoration: none;
}



.device-log {
    padding: 8px;
    margin: 4px;
    background-color: lightgray;
    border-radius: 4px;

    display: grid;
    grid-template-areas: 
        "device-id status-msg creation-datetime toggle-button"
        "additional-info json-response json-response json-response"; 
    grid-template-columns: 0.5fr 1fr 1fr 0.1fr;
    align-items: center;
}

.device-log-device-identifier {
    display: flex;
    flex-direction: row;
    align-items: center; 
    
    grid-area: device-id;
}
.device-log-status-message { 
    grid-area: status-msg;
}
.device-log-toggle-button { 
    grid-area: toggle-button;
}
.device-log-creation-datetime { 
    grid-area: creation-datetime;
}

.device-log-content-json {
    grid-area: json-response;
}
.device-log-content-additional-info {
    grid-area: additional-info;
}
/* .device-log-content {
    display: flex;
    flex-direction: row;
}
.device-log-content-divider {
    margin-left: 16px;
    margin-right: 16px;
} */