
<div class="logs-page">
<h1>Device Logs</h1>

<div class="logs-header">
    <div class="logs-informational">
        Each log will be labeled with a code which describes the content within, and will make filtering through types of logs possible.
        These codes include:
        <ol>
            <li>Informational</li>
            <li>Error</li>
            <li>Success</li>
        </ol>
    </div>


    <form id="filterForm">
        <label for="device-addr-input">Select Device:</label>
        <select id="device-addr-input" onchange="deviceIdSelectChange()">
            <option value="">--</option>
            {% for device in devices %}
                <option value="{{ device['mac_address'] }}">{{ device["device_name"] }} - {{ device['mac_address'] }}</option>
            {% endfor %}
        </select> 

        <!-- <label id="current-checkout-only-label" for="current-checkout-only" class="hidden">Current Checkout Only?</label>
        <input id="current-checkout-only" type="checkbox" class="hidden"/> -->

        <label for="log-status-code">Status:</label>
        <select id="log-status-code">
            <option value="">--</option>
            <option value="0">Info</option>
            <option value="1">Error</option>
            <option value="2">Success</option>
        </select> 

        <!-- <label for="keywords-input">Keywords:</label>
        <input id="keywords-input" type="text"/> -->

        <label for="start-time-input">From:</label>
        <input id="start-time-input" type="datetime-local">

        <label for="end-time-input">To:</label>
        <input id="end-time-input" type="datetime-local">

        <button type="button" onclick="applySearchFilter()">Filter</button>
    </form>
</div>


{% if logs %}
<ol class="log-list">
    {% for log in logs %}
        <li class="device-log">
            <!-- <div class="device-log-metainfo">
                
            </div> -->
            <button class="device-log-toggle-button">More</button>
            <div class="device-log-device-identifier">
                <h3>{{ log["device_name"] }}</h3>
                <p> - {{ log["mac_address"] }}</p>
            </div>
            <p class="device-log-status-message"
                {% if log['status_code'] == '0' %} 
                    style="color: #2980b9;" 
                {% elif log['status_code'] == '1' %}
                    style="color: #c0392b;"
                {% elif log['status_code'] == '2' %}
                    style="color: #27ae60;"
                {% endif %}>
                {{ log["log_descriptor"] }}
            </p>
            <p class="device-log-creation-datetime">Created At: <b>{{ log["creation_time"] }}</b></p>


            <!-- <div class="device-log-content hidden">
            </div> -->
            <div class="device-log-content-additional-info hidden">
                <h4>Additional Info</h4>
                <p>Device Type - {{ log["device_type"] }} </p>
                <p>Used By - <a href="/devices/checkout/{{ log['checkout_id'] }}">
                    {{ log["user_fname"] }} {{ log["user_lname"] }}
                    #{{ log["checkout_id"] }}
                </a></p>
            </div>
            <div class="device-log-content-json hidden">
                <h4>Json Response:</h4>
                <pre>{{ log["log_data"] | tojson_pretty | safe }}</pre>
            </div>
        </li>
    {% endfor %}
</ol>
{% else %}
    <h3>It appears this query is dataless.</h3>
    <img src="{{ url_for('static', filename='media/kermit-the-look.gif') }}" alt="Kermit being mad confused">
{% endif %}
</div>  


<script>
    const urlParams = new URLSearchParams(window.location.search);
    document.getElementById("device-addr-input").value = urlParams.get("device_addr");
    document.getElementById('start-time-input').value = urlParams.get("datetime_from");
    document.getElementById('end-time-input').value = urlParams.get("datetime_to");
    document.getElementById('log-status-code').value = urlParams.get("status_code");
    // document.getElementById('current-checkout-only').value = urlParams.get("curr_checkout_only");

    

    // function renderCheckoutCheckbox() {
    //     const onlyCurrCheckoutLabel = document.getElementById("current-checkout-only-label");
    //     const onlyCurrCheckoutCheckbox = document.getElementById("current-checkout-only");
    //     const deviceSelection = document.getElementById('device-addr-input');
        
    //     if ( deviceSelection.value === "") {
    //         onlyCurrCheckoutLabel.classList.add("hidden");
    //         onlyCurrCheckoutCheckbox.classList.add("hidden");
    //     } else {
    //         onlyCurrCheckoutLabel.classList.remove("hidden");
    //         onlyCurrCheckoutCheckbox.classList.remove("hidden");
    //     }
    // }

    function deviceIdSelectChange() {
        // renderCheckoutCheckbox();
    }

    function concatUrlParameterSeparator(filterPreviouslyApplied, currUrl) {
        if (filterPreviouslyApplied) {
            return currUrl += "&"
        } else {
            return currUrl += "?"
        }
    }

    function applySearchFilter() {
        var filterApplied = false;

        // Get form values
        var deviceValue = document.getElementById('device-addr-input').value;
        var statusCode = document.getElementById('log-status-code').value;
        // var keywordsValue = document.getElementById('keywords-input').value;
        var startTimeValue = document.getElementById('start-time-input').value;
        var endTimeValue = document.getElementById('end-time-input').value;

        // Construct the new URL with parameters
        var newUrl = window.location.pathname;
        
        if (deviceValue && deviceValue != "") {
            newUrl = concatUrlParameterSeparator(filterApplied, newUrl) + 'device_addr=' + deviceValue;
            filterApplied = true;
        }
        if (statusCode && statusCode != "") {
            newUrl = concatUrlParameterSeparator(filterApplied, newUrl) + 'status_code=' + statusCode;
            filterApplied = true;
        }
        // if (keywordsValue && keywordsValue != "") {
        //     newUrl = concatUrlParameterSeparator(filterApplied, newUrl) + 'keywords=' + keywordsValue;
        //     if (!filterApplied) filterApplied = true
        // } 
        if (startTimeValue) {
            newUrl = concatUrlParameterSeparator(filterApplied, newUrl) + 'datetime_from=' + startTimeValue;
            if (!filterApplied) filterApplied = true
        } 
        if (endTimeValue) {
            newUrl = concatUrlParameterSeparator(filterApplied, newUrl) + 'datetime_to=' + endTimeValue;
            if (!filterApplied) filterApplied = true
        } 

        // Redirect to the new URL
        window.location.href = newUrl;
    }

    document.addEventListener('DOMContentLoaded', function() {
        let logToggleButtons = document.querySelectorAll(".device-log-toggle-button");
        
        logToggleButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                if (button.textContent == "More") {
                    button.textContent = "Less";
                } else {
                    button.textContent = "More";
                }
                let logItem = button.closest(".device-log");
                let additionalInfo = logItem.querySelector(".device-log-content-additional-info");
                let jsonResponse = logItem.querySelector(".device-log-content-json");
                additionalInfo.classList.toggle('hidden');
                jsonResponse.classList.toggle('hidden');
            });
        });
    });

    // Render extra form elements if conditions match 
    // renderCheckoutCheckbox();
</script>