

<h1>Device Logs</h1>

Each log will be labeled with a code which describes the content within, and will make filtering through types of logs possible.
These codes include:
<ol>
    <li>Informational</li>
    <li>Error</li>
    <li>Success</li>
</ol>

<form>

    <label for="device-addr-input">Select Device:</label>
    <select id="device-addr-input">
        <option value="">--</option>
        {% for device in devices %}
            <option value="{{ device['mac_address'] }}">{{ device["device_name"] }} - {{ device['mac_address'] }}</option>
        {% endfor %}
    </select> 

    <label for="log-status-code">Status:</label>
    <select id="log-status-code">
        <option value="">--</option>
        <option value="0">Info</option>
        <option value="1">Error</option>
        <option value="2">Success</option>
    </select> 

    <!-- <label for="keywords-input">Keywords:</label>
    <input id="keywords-input" type="text"/> -->

    <label for="start-time-input">From:</label>
    <input id="start-time-input" type="datetime-local">

    <label for="end-time-input">To:</label>
    <input id="end-time-input" type="datetime-local">

    <button type="button" onclick="applySearchFilter()">Filter</button>
</form>

<ol>
    {% for log in logs %}
        <li class="device-log">
            <div class="device-log-metainfo">
                <button class="device-log-toggle-button">More</button>
                <h3>{{ log["device_name"] }}</h3>
                <p> - {{ log["mac_address"] }}</p>
                <p class="device-log-creation-datetime">{{ log["creation_time"] }}</p>
            </div>
            <div class="device-log-content hidden">
                <div class="device-log-content-additional-info">
                    <h4>Additional Info</h4>
                    <p>Device Type - {{ log["device_type"] }} </p>
                    <p>Used By - <a href="/devices/checkout/{{ log['checkout_id'] }}">
                        {{ log["user_fname"] }} {{ log["user_lname"] }}
                        #{{ log["checkout_id"] }}
                    </a></p>
                </div>
                <div class="device-log-content-json">
                    <h4>Json Response:</h4>
                    <pre>{{ log["log_data"] | tojson_pretty | safe }}</pre>
                </div>
            </div>
        </li>
    {% endfor %}
</ol>


<script>
    const urlParams = new URLSearchParams(window.location.search);
    document.getElementById("device-addr-input").value = urlParams.get("device_addr");
    document.getElementById('start-time-input').value = urlParams.get("datetime_from");
    document.getElementById('end-time-input').value = urlParams.get("datetime_to");

    function concatUrlParameterSeparator(filterPreviouslyApplied, currUrl) {
        if (filterPreviouslyApplied) {
            return currUrl += "&"
        } else {
            return currUrl += "?"
        }
    }

    function applySearchFilter() {
        var filterApplied = false;

        // Get form values
        var deviceValue = document.getElementById('device-addr-input').value;
        // var keywordsValue = document.getElementById('keywords-input').value;
        var startTimeValue = document.getElementById('start-time-input').value;
        var endTimeValue = document.getElementById('end-time-input').value;

        // Construct the new URL with parameters
        var newUrl = window.location.pathname;
        
        if (deviceValue && deviceValue != "") {
            newUrl = concatUrlParameterSeparator(filterApplied, newUrl) + 'device_addr=' + deviceValue;
            filterApplied = true;
        }
        // if (keywordsValue && keywordsValue != "") {
        //     newUrl = concatUrlParameterSeparator(filterApplied, newUrl) + 'keywords=' + keywordsValue;
        //     if (!filterApplied) filterApplied = true
        // } 
        console.log(startTimeValue);
        if (startTimeValue) {
            newUrl = concatUrlParameterSeparator(filterApplied, newUrl) + 'datetime_from=' + startTimeValue;
            if (!filterApplied) filterApplied = true
        } 
        if (endTimeValue) {
            newUrl = concatUrlParameterSeparator(filterApplied, newUrl) + 'datetime_to=' + endTimeValue;
            if (!filterApplied) filterApplied = true
        } 

        // Redirect to the new URL
        window.location.href = newUrl;
    }

    document.addEventListener('DOMContentLoaded', function() {
        let logToggleButtons = document.querySelectorAll(".device-log-toggle-button");
        console.log(logToggleButtons);
        logToggleButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                if (button.textContent == "More") {
                    button.textContent = "Less";
                } else {
                    button.textContent = "More";
                }
                console.log("Button clicked");
                let logItem = button.closest(".device-log");
                let contentDiv = logItem.querySelector(".device-log-content");
                contentDiv.classList.toggle('hidden');
            });
        });
    });
</script>