
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pi-Server</title> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head> 
<body> 
    <div id="nav-bar">
        <h1>Pi-Server API Dashboard</h1> 
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/projects">Projects</a>
        <a class="nav-link" href="/devices/logs">Logs</a>
    </div>

    {% block content %} 
    {% endblock %} 

  
</body> 
</html>
