{%extends "base.html" %} 
{%block content%} 

<h1>Device Logs</h1>

<form>

    <label for="device-addr-input">Select Device:</label>
    <select id="device-addr-input">
        <option value="">--</option>
        {% for device in devices %}
            <option value="{{ device['mac_address'] }}">{{ device["device_name"] }} - {{ device['mac_address'] }}</option>
        {% endfor %}
    </select> 

    <!-- <label for="keywords-input">Keywords:</label>
    <input id="keywords-input" type="text"/> -->

    <label for="start-time-input">From:</label>
    <input id="start-time-input" type="datetime-local">

    <label for="end-time-input">To:</label>
    <input id="end-time-input" type="datetime-local">

    <button type="button" onclick="applySearchFilter()">Filter</button>
</form>

<ol>
    {% for log in logs %}
        <li class="device-log">
            <div class="device-log-metainfo">
                <h3>{{ log["device_name"] }}</h3>
                <p> - {{ log["mac_address"] }}</p>
                <p class="device-log-creation-datetime">{{ log["creation_time"] }}</p>
            </div>
            <p>{{ log["log_data"] }}</p>
        </li>
    {% endfor %}
</ol>


<script>
    const urlParams = new URLSearchParams(window.location.search);
    document.getElementById("device-addr-input").value = urlParams.get("device_addr");
    document.getElementById('start-time-input').value = urlParams.get("datetime_from");
    document.getElementById('end-time-input').value = urlParams.get("datetime_to");

    function concatUrlParameterSeparator(filterPreviouslyApplied, currUrl) {
        if (filterPreviouslyApplied) {
            return currUrl += "&"
        } else {
            return currUrl += "?"
        }
    }

    function applySearchFilter() {
        var filterApplied = false;

        // Get form values
        var deviceValue = document.getElementById('device-addr-input').value;
        // var keywordsValue = document.getElementById('keywords-input').value;
        var startTimeValue = document.getElementById('start-time-input').value;
        var endTimeValue = document.getElementById('end-time-input').value;

        // Construct the new URL with parameters
        var newUrl = window.location.pathname;
        
        if (deviceValue && deviceValue != "") {
            newUrl = concatUrlParameterSeparator(filterApplied, newUrl) + 'device_addr=' + deviceValue;
            filterApplied = true;
        }
        // if (keywordsValue && keywordsValue != "") {
        //     newUrl = concatUrlParameterSeparator(filterApplied, newUrl) + 'keywords=' + keywordsValue;
        //     if (!filterApplied) filterApplied = true
        // } 
        console.log(startTimeValue);
        if (startTimeValue) {
            newUrl = concatUrlParameterSeparator(filterApplied, newUrl) + 'datetime_from=' + startTimeValue;
            if (!filterApplied) filterApplied = true
        } 
        if (endTimeValue) {
            newUrl = concatUrlParameterSeparator(filterApplied, newUrl) + 'datetime_to=' + endTimeValue;
            if (!filterApplied) filterApplied = true
        } 

        // Redirect to the new URL
        window.location.href = newUrl;
    }
</script>
{% endblock %}