
{%extends "base.html" %} 
{%block content%} 
<div id="home-dashboard">
    <section>
        <h3>Active Devices</h3>
        <a href="/devices" class="nav-link">All Devices</a>
        <ul>
            {% for device in devices %}
                {% if device["in_use"] %}
                    <li>{% include 'components/device_snippet.html'%}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>

    <section>
        <h3>Projects</h3>
        <a href="/projects" class="nav-link">All Projects</a>
        <ul>
            {% for project in projects %}
                <li>{% include 'components/project_snippet.html' %}</li>
            {% endfor %}
        </ul>
    </section>
</div>


<style>
#home-dashboard {
    display: flex;
    flex-direction: row;
}
section {
    margin: 8px;
    padding: 8px;
}
</style>

  
{% endblock %}
