{%extends "base.html" %} 
{%block content%} 
    <h1>Projects</h1>

    <ul>
        {% for project in projects %}
        <li>
            <h3>{{ project["title"] }}</h3>
            <p>Created on: {{ project["creation_date"] }}</p>
            <p>{{ project["desc"] }}</p>

            <div class="project-links">
                <a href="/projects/{{ project['title'] }}" class="nav-link">About</a>
                {% if project['github_link'] %}
                    <a href="{{ project['github_link'] }}" target=”_blank” class="nav-link">Github</a>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}